#nav {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#nav::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.5;
    height: 100%;
    width: 100%;
}

.logo img {
    height: 60px;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav a {
    text-decoration: none;
    margin: 0px 12px;
    padding: 12px;
    color: white;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
}

#nav a:hover {
    border-radius: 23px;
    background-color: white;
    color: black;
    font-weight: bold;
}

#front p {
    font-family: 'Montserrat', sans-serif;
    border-radius: 23px;
    background-color: #014404;
    height: 50px;
    padding: 24px;
    color: #070606;
    box-shadow: -19px -19px 19px #168b1b;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
}

#front .primh {
    color: white;
    display: flex;
    border-radius: 23px;
    background-color: #014404;
    box-shadow: -19px -19px 19px #168b1b;
    justify-content: center;
    padding: 12px;
    font-size: 3.5rem;
    font-family: 'Balsamiq Sans', cursive;
}

#front {
    display: flex;
    height: 363px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 96px 200px;
}

#front::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 612px;
    background: url(images/backgroung/backtemp.jpg) no-repeat center center/cover;
    z-index: -1;
}

.primh {
    display: flex;
    justify-content: center;
    padding: 12px;
    font-size: 2.5rem;
    font-family: 'Balsamiq Sans', cursive;
}

.sech {
    margin: 1px 12px;
    padding: 4px;
}

#sale {
    display: flex;
}

#utensil {
    display: flex;
    flex-direction: column;
}

.utensil1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid brown; */
    padding: 8px;
    width: 234px;
    margin: 3px;

}

.utensil1 a:hover {
    opacity: 0.5;
}

#utensil img {
    height: 150px;
}

.utensil1 p {
    margin: 1px 12px;
    padding: 4px;
}

#sales {
    display: flex;
    flex-direction: column;
    /* border: 2px solid brown; */
    margin: 3px 17px;
    padding: 8px;
    width: 751px;
    justify-content: center;
    align-items: center;
}

#sales img {
    height: 451px;
}

#sales p {
    margin: 1px 12px;
    padding: 4px;
}

#sales .primh {
    margin: 3px 12px;
}

#recipes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid brown; */
    padding: 8px;
    width: 234px;
    margin: 3px;
}

.dishes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.dishes img {
    height: 150px;
}

#recipes a {
    text-decoration: none;
    color: black;
    margin: 5px;
    padding: 7px;
}

#recipes a:hover {
    border-radius: 23px;
    background-color: black;
    color: white;
}

#shop {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid wheat;
}

.shop1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.category {
    display: flex;
    flex-direction: column;
    width: 153px;
    margin: 5px;
    /* border: 2px solid brown; */
}

.category img {
    height: 150px;
}

.category a {
    text-decoration: none;
    color: black;
    justify-content: center;
    margin: 5px;
    display: flex;
    padding: 7px;
}

.category a:hover {
    border-radius: 23px;
    background-color: black;
    color: white;
}

#shop .primh {
    margin: 0px 12px;
}

.ad1 {
    display: flex;
}

.pic img {
    height: 500px;
    width: 500px;
    margin: 9px 12px;
    margin-right: 70px;
}

.writeup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'DynaPuff', cursive;
    padding: 31px;
}

.writeup h1 {
    font-family: 'DynaPuff', cursive;
    color: green;
    font-size: 40px;
}

.writeup a {
    text-decoration: none;
    color: black;
    border-radius: 23px;
    padding: 10px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.writeup a:hover {
    box-shadow: 12px 12px 12px black;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.images img {
    height: 170px;
    margin: 10px;
    border-radius: 50%;
    padding: 5px;
}

.mission {
    background-color: rgb(242, 222, 225);
}

/* footer styling */
footer {
    display: flex;
}

footer img {
    height: 30px;
    margin: 9px;
    padding: 3px;
}

footer p {
    font-family: 'DynaPuff', cursive;
    color: green;
    font-size: 20px;
    margin: 5px;
    padding: 12px;
}

/* COOKWARE CSS */
.show::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 612px;
    background: url(images/backgroung/cookware.jpg) no-repeat center center;
    background-size: cover;
    z-index: -1;
}

.show {
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
    height: 85vh;
}

.show h1 {
    border: 3px solid black;
    border-bottom: 23px;
    box-shadow: 10px 10px 10px black;
    padding: 4px 15px;
}

.show p {
    border: 3px solid black;
    border-bottom: 23px;
    box-shadow: 10px 10px 10px black;
    padding: 25px;
    margin: 20px 239px;
    font-weight: bold;
    font-size: 1.2em;
}

.display h1 {
    margin: 9px 38px;
}

.display p {
    margin: 10px 35px;
}

.display1 {
    display: flex;
    margin: 3px 43px;

}

.items {
    display: flex;
    flex-direction: column;
    /* border: 2px solid brown; */
    padding: 4px;
    margin: 3px 5px;
    justify-content: center;
    align-items: center;
    margin: 3px 17px;
}

.items p {
    margin: 2px;
}

.items img {
    height: 200px;
    /* border-radius: 50%; */
    border: 2px solid black;
}

/* APPLIANCES CSS */
.show2::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 612px;
    background: url(images/backgroung/appliances.jpg) no-repeat center center;
    background-size: cover;
    z-index: -1;
}

.show2 {
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
    height: 85vh;
}

.show2 h1 {
    border: 3px solid black;
    border-bottom: 23px;
    box-shadow: 10px 10px 10px black;
    background-color: #eed4d4;
    padding: 0px 19px;
}

.show2 p {
    border: 3px solid black;
    background-color: #eed4d4;
    box-shadow: 12px 12px 21px black;
    padding: 25px;
    margin: 20px 239px;
    font-weight: bold;
    font-size: 1.2em;
}

/* KITCHEN CSS */
.show3::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 612px;
    background: url(images/backgroung/kitchen.jpg) no-repeat center center;
    background-size: cover;
    z-index: -1;
}

.show3 {
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
    height: 85vh;
}

.show3 h1 {
    border: 3px solid black;
    border-bottom: 23px;
    box-shadow: 10px 10px 10px rebeccapurple;
    background-color: #bfb8b8;
    margin: 33px;
    padding: 0px 19px;
}

.show3 p {
    border: 3px solid black;
    background-color: #bfb8b8;
    box-shadow: 12px 12px 21px rebeccapurple;
    padding: 25px;
    margin: 20px 239px;
    font-weight: bold;
    font-size: 1.2em;
}